<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ if .Title }}{{ .Title }} - {{ end }}The Birthmark Standard Foundation</title>
    <link rel="icon" type="image/svg+xml" href="/Birthmark_logo_trimmed.svg">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/styles.css">
    {{ block "extra_head" . }}{{ end }}
</head>
<body>
    {{ partial "header.html" . }}

    {{ block "main" . }}{{ end }}

    {{ partial "footer.html" . }}

    {{ partial "dropdown.html" . }}

    {{ block "extra_scripts" . }}{{ end }}
</body>
</html>
